{% extends "base.html" %}
{% block title %}{{ block.super }} | Planning {% endblock %}
{% block main %}
	<h1>Planning</h1>
	<br/>

	<button id="createSoutenance">Create new user</button>
	<div id="soutenanceForm">
		<form action="" id="soutenance_form" method="post">{% csrf_token %}
			<table>
				{{ form.as_table }}
				<input type="hidden" value="true" name="ajax" />
			</table>
			<input id="soutenanceSubmit" class="btn btn-success" type="submit" value="true" />
		</form>
	</div>
	<div id="salleForm">
		<form action="{% url 'addSalle' %}" method="post">{% csrf_token %}
			<table>
				{{ salleForm.as_table }}
			</table>
			<input id="salleSubmit" class="btn btn-success" type="submit" value="" />
		</form>
	</div>

	<div>
		<label for="id_dateDebut">Soutenance du</label>
		<input id="id_dateDebut" />
		<label for="id_dateFin"> au </label>
		<input id="id_dateFin" />
	</div>
<div id="planning"></div>
{% endblock %}
{% block libraries %}{{ block.super }}
	<link href='/static/fullcalendar-1.6.4/fullcalendar/fullcalendar.css' rel='stylesheet' />
	<link href='/static/fullcalendar-1.6.4/fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print' />
	<link rel="stylesheet" type="text/css" href="/static/css/smoothness/jquery-ui-1.10.4.custom.min.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/static/css/jquery.datetimepicker.css" media="screen">

	<script src='/static/fullcalendar-1.6.4/lib/jquery.min.js'></script>
	<script src='/static/fullcalendar-1.6.4/lib/jquery-ui.custom.min.js'></script>
	<script src='/static/fullcalendar-1.6.4/fullcalendar/fullcalendar.min.js'></script>
	<script type="text/javascript" src="/static/js/jquery-ui-1.10.4.custom.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.datetimepicker.js"></script>
	<script type="text/javascript" src="/static/js/utils.js"></script>
	<script type="text/javascript" src="/static/js/planning.js"></script>
{% endblock %}
{% block js %}

	$( document ).ready( function() {

		$('input[type=submit]').css('visibility', 'hidden');
		$('#createSoutenance').css('visibility', 'hidden');

		becomeDatePicker('#id_dateDebut');
		becomeDatePicker('#id_dateFin');
		becomeDateTimePicker('#id_datePassage');
		becomeDateTimePicker('#id_dateFinPrevu');

		$("#soutenance_form").submit( function(e) {
			console.log('envoi du form : #soutenance_form')
			e.preventDefault(); // on empeche l'envoi du formulaire par le navigateur
			var datas = $(this).serialize();
			$.ajax({
				url: '{% url 'addSoutenance' %}',
				data: datas,
				type: 'POST'
			}).done(function(data, textStatus, jqXHR){
				try{ 
					var nouvelObjet = extractSoutenanceCalendarData(data)[0];
					$('#planning').fullCalendar(
						'renderEvent',
						nouvelObjet,
						true // make the event "stick"
					);
				} catch(err) {
					$('#soutenance_form').html(data
						.split('<form action="" method="post">')[1]
						.split('</form>')[0]);
					$('#createSoutenance').click();
				}
			}).fail(function(jqXHR, textStatus, errorThrown){
				console.log("ajax failed");
				alert(errorThrown);
			});
			return false;
		});

		$('#id_dateDebut').change(function(){
			if($('#id_dateFin').val() && testArgs()){
				updatePlanning();
			}
		});
		$('#id_dateFin').change(function(){
			if($('#id_dateDebut').val() && testArgs()){
				updatePlanning();
			}
		});

		genDialogForm("#soutenanceForm", "#createSoutenance", 850, 400, function(){
			$('#soutenanceSubmit').click();
		});
		publierBoutonAjouterDialog('#id_salle', '#id_addSalle', "#salleForm", 850, 400, function(){
			$('#salleSubmit').click();
		});
	});

	active_tab="#tab-planning"
{% endblock %}