{% extends "base.html" %}
{% block title %}{{ block.super }} | Planning {% endblock %}
{% block main %}
<h1>Planning</h1>
<br/>
<div>
	{{ form.as_table }} <br />
</div>
<table id="table_planning">
	<tbody id="body_planning">
		<tr id="entete_planning">
			<td></td>
		</tr>
		{% load utils %}
		{% for cpt in taille %}
			<tr id="l_{{ cpt|incrementSept:cpt }}">
				<td>{{ cpt|incrementSept:cpt }} à {{ cpt|incrementHuit:cpt }}h</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<a href="{% url 'addSoutenance' %}" class="btn btn-primary">Ajouter une Soutenance</a>

{% endblock %}
{% block libraries %}{{ block.super }}
	<link rel="stylesheet" type="text/css" href="/static/css/smoothness/jquery-ui-1.10.4.custom.min.css" media="screen">
	<script type="text/javascript" src="/static/js/jquery-ui-1.10.4.custom.min.js"></script>
	<script type="text/javascript" src="/static/js/utils.js"></script>
{% endblock %}
{% block js %}

	const tab = "#table_planning";
	const theadTab = "#entete_planning";
	const bodyTab = "#body_planning";
	const saveTableau = $(tab).html();

	function reinitTableaux(theTableau){
		console.log('réinitialisation du planning');
		$(theTableau).html(saveTableau);
		console.log('planning réinitialisé');
	}

	function getListeSalles(listeSoutenance){
		var salles = [];
		console.log('récupération des salles');
		$.each(listeSoutenance, function(index, value){
			if($.inArray(value['fields']['salle'], salles) == -1){
				console.log('nouvelles salles : ' + value['fields']['salle']);
				salles.push(value['fields']['salle']);
			}
		});
		salles.sort();
		console.log(salles);
		return salles;
	}

	function putTheadTabbleau(theTableauEntete, listeSoutenance){
		console.log('création de l\'entête du tableau');
		var cellules = [];
		$.each(getListeSalles(listeSoutenance), function(index, value){
			$(theTableauEntete).append($('<td>' + value + '</td>'));
		});
		console.log('entête faite');
	}

	function identifierCellule(selecteurTbody, listeSoutenance){
		console.log('mise en place des id sur chaque td');
		var nbDeSalles = getListeSalles(listeSoutenance).length;
		console.log(nbDeSalles + ' colonnes par lignes');
		var ptDeDepart = $(selecteurTbody + ' tr:nth-child(2)');
		// l'index commencera à 1 donc on le compence avec ptDeDepart
		ptDeDepart = ptDeDepart.attr('id').split("_")[1] - 1;
		var firstLoop = true;
		$.each($(selecteurTbody + ' tr'), function(index, value){
			if( ! firstLoop){
				for ( var i = 0; i < nbDeSalles; i++ ) {
					$(this).append('<td id="l_' + (parseInt(ptDeDepart) + index) + '_c_' + i + '"></td>')
					console.log('généré : <td id="l_' + (parseInt(ptDeDepart) + index) + '_c_' + i + '"></td>')
				}
			}
			firstLoop = false;
		});
	}

	function getCelluleCompletee(informationsStage){
		var infoEtu = informationsStage['etudiant']['prenom'] + 
			' ' + 
			informationsStage['etudiant']['nom'];
		var infoEnt = informationsStage['entreprise']['nom'];
		var infoMDS = informationsStage['enseignantTuteur']['prenom'] +
			' ' +
			informationsStage['enseignantTuteur']['nom'];
		console.log('infos sur le stage :');

		var res = '<a href="./' + informationsStage['id'] + '" target="_blank">' +
			infoEtu + ' chez ' +
			infoEnt + '<br />avec "' + infoMDS + '"</a>';
		console.log(res);
		return res;
	}

	function remplirTableaux(bodyTab, data){
		var salles = getListeSalles(data);
		$.each(data, function( index, value ) {
			var heure = value['fields']['datePassage']
				// recuperation de l'heure et minutes
				.split("T")[1]
				// recuperation seule de l'heure
				.split(":")[0];

			var salle = 0;
			for(i = 0; i < salles.length; i++){
				if(value['fields']['salle'] == salles[i]){
					salle = i;
				}
			}

			// recherche de l'id de la cellule cible
			var target = '#l_' + heure + '_c_' + salle;

			console.log('soutenance sur ' + target);
			$(target).html(
				getCelluleCompletee(
					value['fields']['stage']));
		});
	}

	$( document ).ready( function() {

		becomeDatePicker("#id_datePassage");

		$("#id_datePassage").change(function(){
			$.ajax({
				url: '{% url 'find_planning' %}',
				data: {
					'date': $("#id_datePassage").val()
				},
				type: 'GET',
				dataType: 'json',
				contentType: 'application/json'
			}).done(function(data, textStatus, jqXHR){

				reinitTableaux(bodyTab);
				putTheadTabbleau(theadTab, data);
				identifierCellule(tab, data);
				remplirTableaux(bodyTab, data);

			}).fail(function(jqXHR, textStatus, errorThrown){
				console.log("ajax failed");
				alert(errorThrown);
			});
		});
	});
	active_tab="#tab-planning"
{% endblock %}