{% extends "base.html" %}
{% block title %}{{ block.super }} | Soutenance {% endblock %}
{% block main %}
<div class="menu col-xs-12 col-sm-2 col-lg-2 pull-right">
	{% if "planning.change_soutenance" in user.get_all_permissions %}
	<a href="{% url 'editSoutenance' pk=soutenance.idSoutenance %}" class="btn btn-primary">Modifier</a><br />
	{% endif %}
	{% if "planning.delete_soutenance" in user.get_all_permissions %}
	<button id="delSoutenance" class="btn btn-danger">Supprimer</a>
	{% endif %}
</div>
<h1>Soutenance au {{ soutenance.datePassage }}</h1>
<br/>
<table class="table table-striped col-xs-12 col-lg-12">

	<tr><td><b>Stage :</b></td><td>{{ soutenance.stage.intitule }}</td></tr>
	<tr><td><b>Etudiant :</b></td><td>{{ soutenance.stage.etudiant.prenom }}
		{{ soutenance.stage.etudiant.nom }}</td></tr>
	<tr><td><b>Entreprise :</b></td><td>{{ soutenance.stage.entreprise.nom }}</td></tr>
	<tr><td><b>Maitre de stage :</b></td><td>{{ soutenance.stage.maitreStage.prenom }}
		{{ soutenance.stage.maitreStage.nom }}</td></tr>
	<tr><td><b>Enseignant tuteur:</b></td><td>{{ soutenance.stage.enseignantTuteur.prenom }}
		{{ soutenance.stage.enseignantTuteur.nom }}</td></tr>
	<tr><td><b>Date de passage :</b></td><td>{{ soutenance.datePassage }}</td></tr>
	<tr><td><b>Date de fin prévu :</b></td><td>{{ soutenance.dateFinPrevu }}</td></tr>
	<tr><td><b>Salle :</b></td><td>{{ soutenance.salle.num }}</td></tr>

</table>
{% endblock %}
{% block js %}
	{% if "planning.delete_soutenance" in user.get_all_permissions %}
	$('#delSoutenance').click(function(e){
		if (confirm("Êtes-vous sûr de vouloir supprimer cette soutenance ?")){
			 $.ajax({
            url: urlTraitement,
            data: datas,
            type: 'POST'
	        }).done(function(data, textStatus, jqXHR){
	            fonctionOK(data);
	        }).fail(function(jqXHR, textStatus, errorThrown){
	            console.log("ajax failed");
	            alert(errorThrown);
	        });
		}
	})
	{% endif %}

	active_tab="#tab-planning"
{% endblock %}