{% extends "base.html" %}
{% block title %}{{ block.super }} | Soutenance {% endblock %}
{% block main %}
<div class="menu col-xs-12 col-sm-2 col-lg-2 pull-right">
	{% if "planning.change_soutenance" in user.get_all_permissions %}
	<a href="{% url 'editSoutenance' pk=soutenance.idSoutenance %}" class="btn btn-primary">Modifier</a><br />
	{% endif %}
	{% if "planning.delete_soutenance" in user.get_all_permissions %}
	<a id="delSoutenance" href="#" class="btn btn-danger">Supprimer</a>
	{% endif %}
</div>
<h1>Soutenance au {{ soutenance.datePassage }}</h1>
<br/>
<table class="table table-striped col-xs-12 col-lg-12">

	<tr><td><b>Stage :</b></td><td>{{ soutenance.stage.intitule }}</td></tr>
	<tr><td><b>Etudiant :</b></td><td>{{ soutenance.stage.etudiant.prenom }}
		{{ soutenance.stage.etudiant.nom }}</td></tr>
	<tr><td><b>Entreprise :</b></td><td>{{ soutenance.stage.entreprise.nom }}</td></tr>
	<tr><td><b>Maitre de stage :</b></td><td>{{ soutenance.stage.maitreStage.prenom }}
		{{ soutenance.stage.maitreStage.nom }}</td></tr>
	<tr><td><b>Enseignant tuteur:</b></td><td>{{ soutenance.stage.enseignantTuteur.prenom }}
		{{ soutenance.stage.enseignantTuteur.nom }}</td></tr>
	<tr><td><b>Date de passage :</b></td><td>{{ soutenance.datePassage }}</td></tr>
	<tr><td><b>Date de fin prévu :</b></td><td>{{ soutenance.dateFinPrevu }}</td></tr>
	<tr><td><b>Salle :</b></td><td>{{ soutenance.salle.num }}</td></tr>

</table>
{% endblock %}
{% block js %}
	{% if "planning.delete_soutenance" in user.get_all_permissions %}
	$('#delSoutenance').click(function(e){
		if (confirm("Êtes-vous sûr de vouloir supprimer cette soutenance ?")){
			$.ajax({
				url: '{% url 'delSoutenance' %}',
				data: {},
				type: 'GET'
	        }).done(function(data, textStatus, jqXHR){
	        	var form = data.split('<form action="" method="post">')[1]
					.split('</form>')[0];
	            $('body').append('<form action="{% url 'delSoutenance' %}" method="post" id="delForm"></form>');
	            $('#delForm').append(form);
	            $('#delForm input[value={{ soutenance.idSoutenance }}]').prop('checked', true);
	            $('#delForm').submit();
	        }).fail(function(jqXHR, textStatus, errorThrown){
	            console.log("ajax failed");
	            alert(errorThrown);
	        });
		}
	})
	{% endif %}

	active_tab="#tab-planning"
{% endblock %}