<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/gestionStage.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" media="screen">
	<title>{% block title %} Application des stages {% endblock %}</title>	
</head>
<body>
	<nav class="navbar navbar-default navbar-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<span class="navbar-brand">Application des stages</span>
			</div>
			<div class="collapse navbar-collapse">
				{% if user.is_authenticated %}

				<ul class="nav navbar-nav">
					<li id="tab-home">
						<a href="{% url 'accueil' %}">Accueil</a>
					</li>

					<li id="tab-entreprise" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Entreprises <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'entreprise.views.show_entreprise' %}"><span class="glyphicon glyphicon-list"></span> Voir les entreprises</a></li>
							{% if "entreprise.add_entreprise" in user.get_all_permissions %}
								<li><a href="{% url 'entreprise.views.addEnt' %}"><span class="glyphicon glyphicon-plus"></span> Ajouter une entreprise</a></li>
							{% endif %}
							{% if "entreprise.valider_entreprise" in user.get_all_permissions or "entreprise.delete_entreprise" in user.get_all_permissions %}
								<li class="divider"></li>
								<li class="dropdown-header">Administration</li>
								{% if "entreprise.valider_entreprise" in user.get_all_permissions %}
									<li><a href="#"><span class="glyphicon glyphicon-ok"></span> Entreprises en attente de validation</a></li>
								{% endif %}
								{% if "entreprise.delete_entreprise" in user.get_all_permissions %}
									<li><a href="{% url 'entreprise.views.delEnt' %}"><span class="glyphicon glyphicon-remove"></span> Suppression d'entreprises</a></li>
								{% endif %}
							{% endif %}
						</ul>
					</li>

					<li id="tab-stage" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Stages <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="dropdown-header">Stages</li>
							<li><a href="{% url 'stage.views.show_stages' %}"><span class="glyphicon glyphicon-list"></span> Voir les stages</a></li>
							{% if "stage.add_stage" in user.get_all_permissions %}
								<li><a href="{% url 'stage.views.addStage' %}"><span class="glyphicon glyphicon-plus"></span> Ajouter un stage</a></li>
							{% endif %}
							<li class="divider"></li>
							<li class="dropdown-header">Offres de stage</li>
							<li><a href="{% url 'stage.views.showOffres' %}"><span class="glyphicon glyphicon-list"></span> Voir les offres</a></li>
							{% if "stage.add_offrestage" in user.get_all_permissions %}
								<li><a href="{% url 'stage.views.addOffreStage' %}"><span class="glyphicon glyphicon-plus"></span> Ajouter une offre</a></li>
							{% endif %}
							{% if "stage.valider_stage" in user.get_all_permissions or "stage.valider_offrestage" in user.get_all_permissions or "stage.delete_stage" in user.get_all_permissions or "stage.delete_offrestage" in user.get_all_permissions %}
								<li class="divider"></li>
								<li class="dropdown-header">Administration</li>
								{% if "stage.valider_stage" in user.get_all_permissions %}
									<li><a href="#"><span class="glyphicon glyphicon-ok"></span> Stages en attente de validation</a></li>
								{% endif %}
								{% if "stage.valider_offrestage" in user.get_all_permissions %}
									<li><a href="{% url 'stage.views.validerOffreStage' %}"><span class="glyphicon glyphicon-ok"></span> Offres en attente de validation</a></li>
								{% endif %}
								{% if "stage.delete_stage" in user.get_all_permissions %}
									<li><a href="{% url 'stage.views.delStage' %}"><span class="glyphicon glyphicon-remove"></span> Suppression de stages</a></li>
								{% endif %}
								{% if "stage.delete_offrestage" in user.get_all_permissions %}
									<li><a href="{% url 'stage.views.delOffreStage' %}"><span class="glyphicon glyphicon-remove"></span> Suppression d'offres</a></li>
								{% endif %}
							{% endif %}
						</ul>
					</li>

					<li id="tab-planning" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Planning <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'planning.views.show_planning' %}"><span class="glyphicon glyphicon-calendar"></span> Consulter le planning</a></li>
							{% if "planning.add_soutenance" in user.get_all_permissions %}
								<li><a href="{% url 'planning.views.addSoutenance' %}"><span class="glyphicon glyphicon-plus"></span> Ajouter une soutenance</a></li>
							{% endif %}
							{% if "planning.delete_soutenance" in user.get_all_permissions %}
								<li class="divider"></li>
								<li class="dropdown-header">Administration</li>
								{% if "planning.delete_soutenance" in user.get_all_permissions %}
									<li><a href="#"><span class="glyphicon glyphicon-remove"></span> Suppression de soutenances</a></li>
								{% endif %}
							{% endif %}
						</ul>
					</li>

					<li id="tab-recherche">
						<a href="{% url 'gestionStage.views.search' %}">Rechercher</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Options<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><p><b><span class="username"><span class="glyphicon glyphicon-user"></span> {{ user }} </span></b></p></li>
							<li><a href="{% url 'logout' %}">Se deconnecter</a></li>
							{% for group in user.groups.all %}
								{% if group.name == "etudiants" %}
									<li><a href="{% url 'stage.views.monStage' %}">Mon stage</a></li>
									<li><a href="{% url 'stage.views.monProfilEtu'  %}">Mon Profil</a></li>
								{% endif %}
								{% if group.name == "enseignants"  %}
									<li><a href="{% url 'stage.views.monProfilEns' %}">Mon Profil</a></li>
								{% endif %}
							{% endfor %}
							<li class="divider"></li>
							<li><p><b>Page</b></p></li>
							<li><a href="{% url 'visiter' %}">Visiter entreprise(s)</a></li>
						</ul>
					</li>
				</ul>
				{% endif %} 
			</div>	
		</div>
	</nav>

	<div class="container">
		<div class="row">
			{% if user.is_authenticated %}
				{% block main %}{% endblock %}
			{% else %}
				<div class="jumbotron col-xs-12 col-lg-offset-3 col-md-offset-3 col-md-6 col-lg-6">
					<h1>Bienvenue</h1>
					<p class="lead">
						Voici le nouveau site web pour l'application de gestion des stages.<br/><br/>
						<a href="/login" class="btn btn-lg btn-success">Se connecter</a>
					</p>
				</div>
			{% endif %}
		</div>			
	</div>
	{% block libraries %}
		<script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
	{% endblock %}
	<script type="text/javascript">
		var active_tab='#tab-NONE';
		{% block js %}
		{% endblock %}
		$(active_tab).addClass('active');
	</script>
</body>
</html>