{% extends "base.html" %}
{% block title %}{{ block.super }} | Ajouter {% endblock %}
{% block heading %}Entreprises | Ajouter{% endblock %}
{% block main %}
		<form action="" method="post">{% csrf_token %}
			{{ supprimeentrepriseform.as_p  }}
			<p>Cette action entrainera la suppression de cette entreprise !</p><br/>
			<input class="btn btn-success" type="submit" value="Supprimer" />
		</form>
{% endblock %}
{%block nav%}
	<li id="tab-ajouter">
		<a href="/company/addEnt">Ajouter une entreprise</a>
	</li>
{% endblock %}
{% block js %}active_tab="#tab-ajouter"{% endblock %}