{% extends "base.html" %}
{% block title %}{{ block.super }} | Détail {% endblock %}
{% block heading %}Entreprise {{ entreprise.nom }} | Détails{% endblock %}
{% block main %}

	<p>Nom : {{ entreprise.nom }}</p><br/>
	<p>Adresse : {{ entreprise.adresse }}</p><br/>
	<p>Code postal : {{ entreprise.codePostal }}</p><br/>
	<p>Ville : {{ entreprise.ville }}</p><br/>
	<p>Pays : {{ entreprise.pays }}</p><br/>
	<p>Téléphone : {{ entreprise.telephone }}</p><br/>
	<p>Fax : {{ entreprise.fax }}</p><br/>

	<a class="label label-primary" href="/company/modif/{{ entreprise.pk }}">Modifier</a>
	<button onclick="afficherAdresse();">Afficher/cacher</button>
    <div id="map_canvas" style="width: 600px; height: 500px"></div>

{% endblock %}

{%block nav%}
	<li id="tab-ajouter">
		<a href="/company/add">Ajouter une entreprise</a>
	</li>
{% endblock %}

{% block libraries %}{{ block.super }}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyClLs2VYw0M6qwQOFf5odeRDhpSIJlADS0"
      type="text/javascript"></script>
{% endblock %}

{% block js %}
var mappp= document.getElementById("map_canvas");
console.log(mappp);
active_tab="#tab-company";
    var map = null;
    var geocoder = null;

    function initialize(adresse) {
      if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById("map_canvas"));
        map.setCenter(new GLatLng(37.4419, -122.1419), 1);
        map.setUIToDefault();
        geocoder = new GClientGeocoder();
       	showAddress(adresse);
       	$('#map_canvas').hide();
      }
    }

    function showAddress(address) {
      if (geocoder) {
        geocoder.getLatLng(
          address,
          function(point) {
            if (!point) {
              alert(address + " not found");
            } else {
              map.setCenter(point, 16);
              var marker = new GMarker(point, {draggable: true});
              map.addOverlay(marker);
              GEvent.addListener(marker, "dragend", function() {
                marker.openInfoWindowHtml(marker.getLatLng().toUrlValue(6));
              });
              GEvent.addListener(marker, "click", function() {
                marker.openInfoWindowHtml(marker.getLatLng().toUrlValue(6));
              });
        GEvent.trigger(marker, "click");
            }
          }
        );
      }
    }


    function afficherAdresse()
    {
      
      $("#map_canvas").toggle();

    }
    
    $('body').attr('onload',initialize('{{entreprise.adresse}} {{entreprise.ville}} {{entreprise.codePostal}} {{entreprise.pays}}'));
    $('body').attr('onunload',GUnload());
    {% endblock %}