{% extends "base.html" %}
{% block title %}{{ block.super }} | Détails {% endblock %}
{% block heading %}Entreprise {{ entreprise.nom }} | Détails{% endblock %}
{% block main %}

<div id="detail" class="col-xs-12 col-md-3 col-lg-3">

  <p><b>Nom :</b> {{ entreprise.nom }}</p><br/>
  <p><b>Adresse :</b> {{ entreprise.adresse }}</p><br/>
  <p><b>Code postal :</b> {{ entreprise.codePostal }}</p><br/>
  <p><b>Ville :</b> {{ entreprise.ville }}</p><br/>
  <p><b>Pays :</b> {{ entreprise.pays }}</p><br/>
  <p><b>Téléphone :</b> {{ entreprise.telephone }}</p><br/>
  <p><b>Fax :</b> {{ entreprise.fax }}</p><br/>
  <p><b>Contact :</b> {{ entreprise.contact }}</p><br/>
  <p><b>Convention :</b> {{ entreprise.persConvention }}</p><br/>
  <a class="btn btn-primary" href="/entreprise/modifier/{{ entreprise.pk }}">Modifier</a>
</div>

<div id="map" class="col-xs-12 col-md-9 col-lg-9">


  <div id="map_canvas_details"></div>

</div>


{% endblock %}


{% block libraries %}{{ block.super }}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyClLs2VYw0M6qwQOFf5odeRDhpSIJlADS0&sensor=false"></script>


{% endblock %}

{% block js %}
active_tab="#tab-entreprise";
var map;
var geocoder;
$(document).ready(function() {
      afficherCarte();
});

function initialize() {
geocoder = new google.maps.Geocoder();
var latlng = new google.maps.LatLng(47.873416,1.912208);
var mapOptions = {
zoom: 15,
//center: latlng
}
map = new google.maps.Map(document.getElementById('map_canvas_details'), mapOptions);

}



function codeAddress(address) {

geocoder.geocode( { 'address': address}, function(results, status) {
if (status == google.maps.GeocoderStatus.OK) {
map.setCenter(results[0].geometry.location);
var marker = new google.maps.Marker({
map: map,
position: results[0].geometry.location
});
var infowindow = new google.maps.InfoWindow({
content:address
});

infowindow.open(map,marker);

} else {
alert('Geocode was not successful for the following reason: ' + status);
}
});
}





function afficherCarte()
{
  $('#map_canvas_details').empty();
  $('#map_canvas_details').show();
  initialize();
  codeAddress('{{entreprise.adresse}}, {{entreprise.codePostal}} {{entreprise.ville}}, {{entreprise.pays}}');
}


{% endblock %}








