{% extends "base.html" %}
{% block title %}{{ block.super }} | Entreprises {% endblock %}
{% block heading %}Entreprises{% endblock %}
{% block main %}
	<h1>Les entreprises</h1>
	<br/>
	
	<ul>
		{% for e in liste_entreprise %}
			<li><a href="/company/{{ e.pk }}">{{ e }}</a> - <a class="label label-danger" href="/company/delete/{{ e.pk }}">Supprimer</a></li><br/>
		{% endfor %}
	</ul>
{% endblock %}
{%block nav%}
	<li id="tab-ajouter">
		<a href="/company/add">Ajouter une entreprise</a>
	</li>
{% endblock %}
{% block js %}active_tab="#tab-company"{% endblock %}
