{% extends "base.html" %}
{% block title %}{{ block.super }} | Entreprises {% endblock %}
{% block heading %}Entreprises{% endblock %}
{% block main %}
	<h1>Les entreprises</h1>
	<br/>
	
	<ul>
		{% for e in liste_entreprise %}
			<li><a href="/entreprise/{{ e.pk }}">{{ e }}</a></li><br/>
		{% endfor %}
	</ul>
	<a class="label label-primary" href="{% url 'addEnt' %}">Ajouter</a>
	<a class="label label-danger" href="{% url 'delEnt' %}">Supprimer</a>
{% endblock %}
{% block js %}active_tab="#tab-entreprise"{% endblock %}