{% extends "base.html" %}
{% block title %}{{ block.super }} | {{ actionAFaire }} {% endblock %}
{% block main %}
	<form action="" method="post">{% csrf_token %}
		<table>
			{% for group in user.groups.all %}
				{% if group.name == "etudiants" %}
					<tr><td style="font-weight:bold">Etudiant:</td><td> {{ nomEtu }} </td></tr>
				{% endif %}
			{% endfor %}
			{{ form.as_table }}
		</table>
		<input class="btn btn-success" type="submit" value="{{ actionAFaire }}" />
	</form>
{% endblock %}
{% block libraries %}{{ block.super }}
	<script type="text/javascript" src="/static/js/utils.js"></script>
{% endblock %}
{% block js %}

	$( document ).ready( function() {
		publierBoutonAjouter('#id_persConvention', '/stage/personne-ext');
		publierBoutonAjouter('#id_maitreStage', '/stage/personne-ext');
	});

	active_tab="#tab-stage"
	
{% endblock %}