.navbar-default .navbar-brand {
    color: rgb(0, 0, 0);
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: rgb(0, 0, 0);
}

nav .btn-group {
	padding-top: 7px;
}

.dropdown-menu p {
	margin-left: 10px;
}
.jumbotron {
	text-align: center;
}

#map_canvas {
	height: 400px;
}

#EmplacementItineraireTexte {
	padding-top: 10px;
	clear: both;
}

th {
	padding-right: 20px;
}

tr {
	height: 40px;
}